@media (prefers-color-scheme: dark) {
  :root {
--gnome-darko:#31313175;
--gnome-kose:rgba(255,255,255,0.1);
    --gnome-alan:#185bc6;
  --gnome-yazi:#fff;
    }
}
@media (prefers-color-scheme: light) {
  :root {
--gnome-darko:#f1f1f175;
--gnome-kose:rgba(0,0,0,0.1);
    --gnome-alan:#52a1ff;
--gnome-yazi:#030303;
    }
}
@-moz-document domain("duckduckgo.com") {
  .searchbox_suggestions__umkQH,
  .sideMenu_sideMenu__ApNj_,
  .is-link-style-exp .header-wrap,
  .badge-link,
  .nav-menu--slideout,
  .search--header,
  .metabar,
   .modal__box,
  .vertical--map__sidebar__wrapper,
  .vertical--map__btn
  {
    background: var(--gnome-darko) !important;
  }
  
  .searchbox_suggestions__umkQH,
  .sideMenu_sideMenu__ApNj_,
  .is-link-style-exp .header-wrap,
  .badge-link,
  .nav-menu--slideout,
  .metabar,
   .modal__box,
  .vertical--map__sidebar__wrapper{
    backdrop-filter:blur(33px) !important;
  }
  .searchbox_suggestions__umkQH,
  .sideMenu_sideMenu__ApNj_,
  .badge-link,
  .nav-menu--slideout,
  .search--header,
  .search__autocomplete,
   .modal__box,
  .search--header,
  .vertical--map__btn,
  .vertical--map__sidebar{
    border: 1px solid var(--gnome-kose) !important;
  }
  .badge-link,
   .modal__box,
  .search--header{
    border-radius: 12px !important;
  }
  .vertical--map--sidebar-left .vertical--map__sidebar__header,
  .vertical--map__sidebar__results__inner,
  .search--header{
    background: none !important;
  }
  .vertical--map__sidebar__results__inner {
    border:none !important;
  }
}






