@media (prefers-color-scheme: dark) {
  :root {
--gnome-darko:#31313175;
--gnome-kose:rgba(255,255,255,0.1);
    --gnome-alan:#185bc6;
  --gnome-yazi:#fff;
    }
}
@media (prefers-color-scheme: light) {
  :root {
--gnome-darko:#f1f1f175;
--gnome-kose:rgba(0,0,0,0.1);
    --gnome-alan:#52a1ff;
--gnome-yazi:#030303;
    }
}
@-moz-document domain("facebook.com") {

 .__fb-dark-mode {
   --surface-background:none !important;
   --card-background:none !important;
    --card-corner-radius:12px !important;
   --overlay-alpha-80:none !important;
   --card-background-flat:none !important;
   --comment-background:var(--gnome-darko) !important;
   --popover-background:var(--gnome-darko) !important;
   --divider:var(--gnome-kose) !important;
   --messenger-card-background:none !important;
   --wash:var(--gnome-darko) !important;
   --web-wash:var(--gnome-darko) !important;
  }
  .__fb-light-mode {
       --surface-background:none !important;
   --card-background:none !important;
    --card-corner-radius:12px !important;
   --overlay-alpha-80:none !important;
   --card-background-flat:none !important;
   --comment-background:var(--gnome-darko) !important;
   --popover-background:var(--gnome-darko) !important;
   --divider:var(--gnome-kose) !important;
   --messenger-card-background:none !important;
   --wash:var(--gnome-darko) !important;
   --web-wash:var(--gnome-darko) !important;
  }
  
  .x1ve1bff,
  .x1n7qst7,
  .x8ii3r7,
  .xrgej4m,
  .x1rgmuzj,
  .x1iofjn4,
  .xpt8i6g,
  ._2pgc,
  .x104qc98,
  .xn9wirt
  {
  background:var(--gnome-darko) !important;
}

  .x1ve1bff,
  .xcxhlts,
  .x1n7qst7,
  .xrgej4m,
  .x1fayt1i,
  .x1rgmuzj,
  .x8ii3r7,
  .x1iofjn4,
  .x443n21,
  .x104qc98,
  .xn9wirt{
    backdrop-filter:blur(33px) !important;
  }

  .xrgej4m,

  .x8ii3r7,
  .x1gn5b1j,
  .x1rgmuzj,
  .x1iofjn4,
  ._2pgc,
.xiw3zem{
    border:1px solid var(--gnome-kose) !important;
  }
  .xmy5rp.xmy5rp {
    background: none !important;
  }
 .xcxhlts,
  .x1rgmuzj,
  ._2pgc,
  .x443n21{
    border-radius: 12px !important;
  }
  .xng853d {
    display: none !important;
  }
  .xrgej4m {
    margin: auto !important;
  }
  .xlauuyb {
    border:none !important;
  }
}
  
