@media (prefers-color-scheme: dark) {
  :root {
--gnome-darko:#31313175;
--gnome-kose:rgba(255,255,255,0.1);
    --gnome-alan:#185bc6;
  --gnome-yazi:#fff;
    --gnome-github:#0d111775;
    --gnome-git-alan:#21262d75;
    }
}
@media (prefers-color-scheme: light) {
  :root {
--gnome-darko:#f1f1f175;
--gnome-kose:rgba(0,0,0,0.1);
    --gnome-alan:#52a1ff;
--gnome-yazi:#030303;
--gnome-github:#ffffff75;
    --gnome-git-alan:#f6f8fa95;
    }
}
@-moz-document domain("github.com") {
:root {
  --color-canvas-overlay:var(--gnome-github) !important; 
    --color-border-default:var(--gnome-kose) !important;
    --borderRadius-medium:12px !important;
    --borderRadius-small: 12px !important;
  --borderRadius-large: 12px !important;
  --color-canvas-default:var(--gnome-github) !important;
  --color-primer-canvas-backdrop:none !important;
  --color-canvas-subtle:var(--gnome-git-alan) !important;
--color-border-muted:var(--gnome-kose) !important;
  --color-neutral-emphasis-plus:#9da2a675 !important;
  }
  
  .ijmlfi {
    background:var(--gnome-github) !important;
   }
  
:where([popover]),
  .Popover-message,
  .search-suggestions,
  .Overlay.Overlay--placement-left,
  .Overlay.Overlay--placement-right,
  .jEOdLx,
  details-dialog,
  .SelectMenu-modal,
  .SelectMenu-list,
  .eTCwDn,
  .cfHMLL,
  .lakhSY,
  .frnhlJ,
  .dropdown-menu,
  .select-menu-modal,
  .ePiodO,
  .frcTWN,
  .iRQGXA,
  .Overlay-backdrop--anchor,
  .Overlay--size-xlarge,
  .svg-tip,
  .gh-header .gh-header-sticky.is-stuck + .gh-header-shadow,
  .p-2,
  .ijmlfi
  {
    backdrop-filter: blur(15px) !important;
  }
  
  :where([popover]){
    border:1px solid var(--gnome-kose) !important;
  }

  anchored-position[popover],
  .SelectMenu-modal,
  .Qaxme,
  .iIGpru,
  .kRCnTK,
  .select-menu-modal{
    border-radius: 12px !important;
  }
}