@media (prefers-color-scheme: dark) {
  :root {
--gnome-darko:#31313175;
--gnome-kose:rgba(255,255,255,0.1);
    --gnome-alan:#185bc6;
  --gnome-yazi:#fff;
    --google:#20212475;
    --google-ara:#30313475;
    }
}
@media (prefers-color-scheme: light) {
  :root {
--gnome-darko:#f1f1f175;
--gnome-kose:rgba(0,0,0,0.1);
    --gnome-alan:#52a1ff;
--gnome-yazi:#030303;
    --google:#ffffff75;
    --google-ara:#ffffff75;
    }
}
@-moz-document domain("google.com") {


  .sfbg,
  .vk-box,
  .spchc,
  .cF4V5c,
  .Lj9fsd,
  .ea0Lbe{
    background: var(--google) !important;
  }
  .minidiv,
  .RNNXgb,
  .aajZCb,
  .vk-btn,
  .o6juZc,
  .W6pGoe,
  .gIYJUc,
  .cB9M7,
  .Qwbd3{
    background: var(--google-ara) !important;
  }
  .sfbg,
  .aajZCb,
  .vk-box,
  .spchc,
  .cF4V5c,
  .Lj9fsd,
  .W6pGoe,
  .ea0Lbe{
    backdrop-filter: blur(33px) !important;
  }
  .vk-box,
  .cF4V5c{
    border-radius: 12px !important;
  }
  .vk-box,
  .vk-btn,
  .RNNXgb,
  .cF4V5c,
  .cB9M7,
  .Qwbd3,
  .ea0Lbe{
    border: 1px solid var(--gnome-kose) !important;
  }
  .vk-btn {
    color:var(--gnome-yazi) !important;
  }
  .aajZCb,
  .o6juZc,
  .W6pGoe{
    border:1px solid var(--gnome-kose) !important;
  }
  .xtSCL,
  .WdWr7c{
    display: none !important;
  }
}






