@media (prefers-color-scheme: dark) {
  :root {
--gnome-darko:#31313175;
--gnome-kose:rgba(255,255,255,0.1);
    --gnome-alan:#185bc6;
  --gnome-yazi:#fff;
    }
}
@media (prefers-color-scheme: light) {
  :root {
--gnome-darko:#f1f1f175;
--gnome-kose:rgba(0,0,0,0.1);
    --gnome-alan:#52a1ff;
--gnome-yazi:#030303;
    }
}
@-moz-document domain("youtube.com") {

  #background.ytd-masthead,
  #chips-wrapper.ytd-feed-filter-chip-bar-renderer,
  #container.ytd-searchbox,
  ytd-mini-guide-renderer,
  #guide-content.ytd-app,
  ytd-multi-page-menu-renderer,
  .sbsb_a,
  ytd-voice-search-dialog-renderer[dialog],
  ytd-menu-popup-renderer,
  tp-yt-paper-dialog,
  #bar.yt-copy-link-renderer,
  #tabs-inner-container.ytd-c4-tabbed-header-renderer,
  #card.ytd-miniplayer,
  .ytp-sfn,
  .ytp-popup,
  yt-confirm-dialog-renderer[dialog][dialog][dialog],
  ytd-pdg-buy-flow-renderer[dialog][dialog][dialog]
  {
    background: var(--gnome-darko) !important;
  }
  
  #background.ytd-masthead,
  #chips-wrapper.ytd-feed-filter-chip-bar-renderer,
  #left-arrow-button.ytd-feed-filter-chip-bar-renderer, #right-arrow-button.ytd-feed-filter-chip-bar-renderer,
    #guide-content.ytd-app,
  ytd-multi-page-menu-rendere,
  .sbsb_a,
  ytd-voice-search-dialog-renderer[dialog],
  ytd-menu-popup-renderer,
  tp-yt-paper-dialog,
  #tabs-inner-container.ytd-c4-tabbed-header-renderer,
  #card.ytd-miniplayer,
  .ytp-sfn,
  .ytp-popup,
  yt-confirm-dialog-renderer[dialog][dialog][dialog]
 
  {
    backdrop-filter:blur(33px) !important;
  }
  #container.ytd-searchbox,
  #search-icon-legacy.ytd-searchbox,
  .yt-spec-icon-badge-shape--style-overlay .yt-spec-icon-badge-shape__badge,
  ytd-multi-page-menu-renderer,
  .sbsb_a,
  ytd-voice-search-dialog-renderer[dialog],
  ytd-reel-video-renderer[is-watch-while-mode]:not([enable-player-metadata-container]),
  ytd-engagement-panel-section-list-renderer[modern-panels]:not([live-chat-engagement-panel]),
  ytd-menu-popup-renderer,
  tp-yt-paper-dialog,
  #bar.yt-copy-link-renderer,
  #card.ytd-miniplayer,
  .ytp-sfn,
  .ytp-popup{
    border:1px solid var(--gnome-kose) !important;
  }
  #right-arrow.ytd-feed-filter-chip-bar-renderer::before,
  #left-arrow.ytd-feed-filter-chip-bar-renderer::after,
    #scrim.tp-yt-app-drawer,
  #left-arrow-button.ytd-feed-filter-chip-bar-renderer, #right-arrow-button.ytd-feed-filter-chip-bar-renderer,
  ytd-mini-guide-entry-renderer,
  #contentContainer.tp-yt-app-drawer,
  ytd-simple-menu-header-renderer,
  #channel-container.ytd-c4-tabbed-header-renderer, #tabs-container.ytd-c4-tabbed-header-renderer
  {
    background: none !important;
  }

  ytd-simple-menu-header-renderer {
    border-bottom: none !important;
  }
  ytd-voice-search-dialog-renderer[dialog],
  .ytp-sfn,
  .ytp-popup{
    border-radius: 12px !important;
  }
  ytd-engagement-panel-section-list-renderer[modern-panels]:not([live-chat-engagement-panel]) {
  border-radius:0 12px 12px 0 !important;
  }
}





