@media (prefers-color-scheme: dark) {
  :root {
--gnome-darko:#31313175;
--gnome-kose:rgba(255,255,255,0.1);
    --gnome-alan:#185bc6;
  --gnome-yazi:#fff;
    --youtube-bar:#0f0f0f75;
    --youtube-arama:#12121275;
    --youtube-buton:#22222275;
    }
}
@media (prefers-color-scheme: light) {
  :root {
--gnome-darko:#f1f1f175;
--gnome-kose:rgba(0,0,0,0.1);
    --gnome-alan:#52a1ff;
--gnome-yazi:#030303;
    --youtube-bar:#ffffff75;
    --youtube-arama:#ffffff75;
    --youtube-buton:#f8f8f875;
    }
}
@-moz-document domain("youtube.com") {

  :root {
   --yt-spec-base-background:var(--youtube-bar) !important;
   --ytd-searchbox-background:var(--youtube-arama) !important;
  --ytd-searchbox-legacy-border-color:var(--gnome-kose) !important;
  --yt-spec-brand-background-primary:var(--youtube-bar) !important;
 --iron-overlay-backdrop-background-color:none !important;
 --yt-spec-menu-background:var(--youtube-bar) !important;
 --yt-spec-outline:var(--gnome-kose) !important;
 --paper-dialog-background-color:var(--youtube-bar) !important; 
  --app-drawer-scrim-background:none !important;
--ytd-searchbox-legacy-button-border-color:var(--gnome-kose) !important;
 --yt-spec-raised-background:var(--youtube-bar) !important; 
    --yt-spec-static-overlay-background-heavy:var(--youtube-bar) !important;
  --paper-tooltip-background:var(--youtube-bar) !important;
    --yt-spec-10-percent-layer:var(--gnome-kose) !important;
    --yt-spec-static-overlay-background-solid:var(--youtube-bar) !important;
  --ytd-searchbox-legacy-button-color:var(--youtube-buton) !important;
  }
#background.ytd-masthead,
  .ytp-tooltip-text,
  .ytp-popup,
  .ytp-share-panel,
  .ytp-tooltip,
 
  .ytp-overflow-panel
  {
  background: var(--youtube-bar) !important;
}
  
#container.ytd-searchbox {
  background: var(--youtube-arama) !important;
}
#background.ytd-masthead,
  #container.ytd-searchbox,
  .sbsb_a,
  #chips-wrapper.ytd-feed-filter-chip-bar-renderer,
  ytd-voice-search-dialog-renderer,
  ytd-multi-page-menu-renderer,
  #guide-wrapper.ytd-app,
  .ytp-inline-preview-scrim + .ytp-inline-preview-controls,
  ytd-thumbnail-overlay-hover-text-renderer,
  .tp-yt-paper-tooltip,
  .ytp-popup,
  .ytp-share-panel,
  .ytp-tooltip,
  ytd-menu-popup-renderer,
  tp-yt-paper-dialog,
  tp-yt-paper-listbox,
  .ytp-overflow-panel,
  ytd-thumbnail-overlay-toggle-button-renderer,
  tp-yt-app-toolbar,
  .ytp-tooltip-text,
  #info-bar.ytd-miniplayer,
  #container.ytd-playlist-panel-renderer,
  #emojis.ytd-commentbox,
  #title.yt-emoji-picker-category-renderer
  {
    backdrop-filter:blur(33px) !important;
  }
  
 .sbsb_a,
  ytd-voice-search-dialog-renderer,
  ytd-multi-page-menu-renderer,
  .ytp-inline-preview-scrim + .ytp-inline-preview-controls,
  .tp-yt-paper-tooltip,
  .ytp-tooltip-text,
  .ytp-popup,
  #search-icon-legacy.ytd-searchbox,
  #container.ytd-searchbox,

  ytd-menu-popup-renderer,
  tp-yt-paper-dialog,
  ytd-engagement-panel-section-list-renderer,
#emojis.ytd-commentbox,
  ytd-thumbnail-overlay-toggle-button-renderer
  {
    border:1px solid var(--gnome-kose) !important;
  }
  
  ytd-voice-search-dialog-renderer,
  .ytp-inline-preview-scrim + .ytp-inline-preview-controls,
  .tp-yt-paper-tooltip,
  .ytp-tooltip-text,
  .ytp-tooltip,
  ytd-menu-popup-renderer,
  tp-yt-paper-dialog,
  tp-yt-paper-listbox,
  ytd-thumbnail-overlay-toggle-button-renderer,
  #emojis.ytd-commentbox
  
  {
    border-radius: 12px !important;
  }
  
  .ytp-inline-preview-scrim + .ytp-inline-preview-controls
  {    background: none !important;
  }
  
   tp-yt-paper-dialog
  {
    box-shadow: none !important;
  }
  ytd-engagement-panel-section-list-renderer {
border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  
}
